<html xmlns:ng="http://angularjs.org">
<head>
    <title>Ajax</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- build:css /css/vendor.css --><!-- bower:css -->
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
<!-- endbower -->
    <link rel="stylesheet" href="/bower_components/ngAnimate/css/ng-animation.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/socket.io/socket.io.js"></script>
    <style>
        .ng-dirty.ng-invalid {
            border-color: red;
        }
    </style>
</head>
<body id="ng-app" ng-app="app">
<div class="container">
    <header class="page-header">
        <h1>Ajax</h1>
    </header>
    <div ng-controller="CSRFCtrl">
        <pre>result = {{result | json}}</pre>
    </div>
</div>

<!-- build:js /js/vendor.min.js --><!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower --><!-- endbuild -->

<!-- build:js /js/app.js -->
<script src="/js/app.js"></script>
<script>
    angular.module('controllers').controller('CSRFCtrl', function($http,$scope) {
        $http.get('./token').success(function(data, status, headers, config) {
            $scope.result = {
                data: data,
                status: status,
                headers: headers,
                config: config
            };
        }).error(function(e) {
            throw new Error(e);
        });
    })
</script>
<!-- endbuild -->
</body>
</html>